<h1>Lit Ideas</h1>

<div class="ideas"></div>

<table class="ideas_table table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Quality</th>
    </tr>
  </thead>
  <tbody id="table-body"></tbody>
</table>
